@model OnlineMobileShop.Entity.Account

@{
    ViewBag.Title = "Login";
}
<center>
    <h2>Login</h2>
    <table >
        <tr>
            <td>
                @Html.Label("MailID", "Mail ID")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.MailID)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Password")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Password)
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" value="Summit" />
            </td>
        </tr>
    </table>
</center>
